body,html {
    background-color: #14bdac;
    height: 100%;
    
}

.App {
    position: relative;
    top: 30vh;
    display: grid;
    place-items: center;
}
.next {
    margin-bottom: 10px;
    color: aliceblue;
    font-size: x-large; 
}

.winner {
    margin-top: 10px;
    color: aliceblue;
    font-size: x-large; 
}

.playOver {
    color: aliceblue;
    position: relative;
    bottom: 15vh;
    font-size: xx-large; 
}